$(".barcode-input").val("")

<% if @book.present? %>
  if ($("#book-id-<%= @book.id %>").size() == 0) {
    $(".add-book-table").find("tbody").append("<%= j render partial: 'write_offs/partials/add_book', locals: { book: @book } %>")
  } else {
    alert("Book already added!")
  }
<% else %>
  alert("Book not found! Please scan again.")
<% end %>
