.container
  .row
    .col-12
      .float-left
        h2 Write Offs
      .float-right
        = link_to "Add New Write Off", new_write_off_path, class: "btn btn-success"
  hr

  table.table.ajax-datatable data-source="#{write_offs_path(format: :json)}"
    thead
      tr
        th #
        th Name
        th Year
        th Price
        th Write Off Date