.container
  .row
    .col-12
      .float-left
        h2 New Write Off
  hr
  .row
    .col-12
      = form_for "", url: add_book_write_offs_path, remote: true, method: :post do |f|        
        .d-flex.justify-content-center
          .form-group.col-8.mb-5
            = f.label :barcode, "Scan Barcode Here", class: "text-center"
            = text_field "", "barcode", class: "form-control barcode-input", placeholder: "Scan Barcode Here"
    .col-12
      = form_for @write_off do |f|    
        .row   
          .col-4
            .form-group
              = f.label :write_off_date, "Loan Date"
              = f.text_field :write_off_date, class: "form-control", readonly: true, value: l(@write_off.write_off_date.to_date, format: :default)

            .form-group
              = f.label :remark, "Remark"
              = f.text_area :remark, class: "form-control", placeholder: "Remark"
          
          .col-8          
            .col-12.mb-5
              table.table.table-sm.add-book-table
                thead
                  tr
                    th.col-10 Books
                    th.col-2 Actions
                tbody
                  = f.fields_for :write_off_books do |f2|
                    = render partial: "write_offs/partials/add_book", locals: { book: f2.object&.book }


            = f.submit "Confirm", class: "btn btn-success float-right"
