.container
  .row
    .col-12
      .float-left
        h2 Write Off
  hr
  .row
    .col-12
      = form_for @write_off do |f|    
        .row   
          .col-4
            .form-group
              strong User
              br/
              = @write_off.user.username

            .form-group
              strong Total Price
              br/
              = @write_off.total_price

            .form-group
              strong Write Off Date
              br/
              = l(@write_off.write_off_date.to_date, format: :default) rescue "-"            

            .form-group
              strong Remark
              br/
              = @write_off.remark
          
          .col-8          
            .col-12.mb-5
              table.table.table-sm.add-book-table
                thead
                  tr
                    th Books
                    th Price                    
                tbody
                  - @write_off.write_off_books.each do |write_off_book|
                    tr 
                      td = write_off_book&.book&.name
                      td = write_off_book&.price
                





