  .form-group
    = f.label :username, "Username"
    = f.text_field :username, class: "form-control", placeholder: "Username", required: true

  .form-group
    = f.label :email, "Email"
    = f.email_field :email, class: "form-control", placeholder: "Email", required: true

  .form-group
    = f.label :password, "Password"
    = f.password_field :password, class: "form-control", placeholder: "Password", required: true

  .form-group
    = f.label :password_confirmation, "Password Confirmation"
    = f.password_field :password_confirmation, class: "form-control", placeholder: "Password Confirmation", required: true
    
  .form-action.row
    .col-12
      .float-left
        = f.submit "Submit", class: "btn btn-primary"
      .float-right
        = link_to "Back", users_admins_path, class: "btn btn-secondary"