.container
  .row.mt-3.mb-3
    .col-12
      h3 Edit Student 
  hr   
    = form_for [:users, @user], url: users_admin_path(@user), method: :patch do |f|   
      = render partial: "form", locals: { f: f }