.container
  .row
    .col-12
      .float-left
        h2 Admins
      .float-right
        = link_to "Add Admin", new_users_admin_path, class: "btn btn-success"
  hr

  table.table.datatable
    thead
      tr
        th #
        th User
        th Email
        th Action
    tbody
      - @users.each do |user|
        tr
          td = user.id
          td = user.username
          td = user.email
          td = link_to "Edit", edit_users_admin_path(user), class: "btn btn-warning"