  .form-group
    = f.label :days, "Late days (*consider late)"
    = f.number_field :days, class: "form-control", placeholder: "Late Days", required: true

  .form-group
    = f.label :penalty_cost, "Per day"
    = f.text_field :penalty_cost, class: "form-control", placeholder: "Per day", required: true
  
  .form-action.row
    .col-12
      .float-left
        = f.submit "Submit", class: "btn btn-primary"
