.container
  .row.mt-3.mb-3
    .col-12
      h3 Penalty Settings
  hr
    = form_for [:settings, @penalty_cost], url: settings_penalty_costs_path, method: :post do |f|   
      = render partial: "form", locals: { f: f }