.form-group
  = f.label :code, "Code"
  = f.text_field :code, class: "form-control", placeholder: "Code", required: true

.form-group
  = f.label :name, "Name"
  = f.text_field :name, class: "form-control", placeholder: "Name", required: true

.form-action.row
  .col-12
    .float-left
      = f.submit "Submit", class: "btn btn-primary"
    .float-right
      = link_to "Back", users_teachers_path, class: "btn btn-secondary"