.container
  .row.mt-3.mb-3
    .col-12
      h3 Edit Teacher 
  hr   
    .col-12    
      = form_for [:users, @teacher], url: users_teacher_path(@teacher), method: :patch do |f|   
        = render partial: "form", locals: { f: f }