.container
  .row.mt-3.mb-3
    .col-12
      h3 Create Teacher 
  hr   
    .col-12
      = form_for [:users, @teacher], url: users_teachers_path, method: :post do |f|
        = render partial: "form", locals: { f: f }