  .form-group
    = f.label :code, "Code"
    = f.text_field :code, class: "form-control", placeholder: "Code", required: true

  .form-group
    = f.label :name, "Name"
    = f.text_field :name, class: "form-control", placeholder: "Name", required: true

  .form-group
    = f.label :year, "Year"
    = f.select :year, options_for_select((1..6).to_a,@student.year), { include_blank: "Please select a year" }, class: "form-control", required: true

  .form-group
    = f.label :school_class, "Class"
    = f.text_field :school_class, class: "form-control", placeholder: "EG: 3M, 3k (Only one)", required: true
  
  .form-action.row
    .col-12
      .float-left
        = f.submit "Submit", class: "btn btn-primary"
      .float-right
        = link_to "Back", users_teachers_path, class: "btn btn-secondary"