.container
  .row.mt-3.mb-3
    .col-12
      h3 Edit Student 
  hr   
    = form_for [:users, @student], url: users_student_path(@student), method: :patch do |f|   
      = render partial: "form", locals: { f: f }