.container
  .row.mt-3.mb-3
    .col-12
      h3 Create Student 
  hr
    = form_for [:users, @student], url: users_students_path, method: :post do |f|   
      = render partial: "form", locals: { f: f }