tr
  td id="book-id-#{book&.id}"
    = book&.name
    = hidden_field :write_off, "", name: "write_off[write_off_books_attributes][#{Time.zone.now.to_i}][book_id]", class: 'form-control', value: book.id
  td 
    = link_to "Remove", "#", class: "btn btn-danger btn-sm remove-tr"
