.container
  .row
    .col-12
      .float-left
        h2 Late Returns
      .float-right
        .row
          .dropdown
            button#exportMenuButton.btn.btn-secondary.dropdown-toggle.mr-3.float-left aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" type="button"
              | Export
            .dropdown-menu aria-labelledby="exportMenuButton" 
              = link_to "Late Return (xlsx)", late_returns_path(format: :xlsx), target: "_blank", class: "dropdown-item"
  hr

  table.table.datatable
    thead
      tr
        th #
        th Borrower        
        th Class
        th Book
        th Loan Date
        th Return Date
        th Due Date
        th Late Days
        th Penalty
    
    tbody
      - @results.each do |loan_book|
        tr
          td = loan_book.id          
          td = link_to loan_book.borrower.name, late_return_path(loan_book.borrower_id)
          td = loan_book.school_class
          td = loan_book.book.name
          td = loan_book.loan_date
          td = loan_book.return_date
          td = loan_book.due_date
          td = loan_book.calculate_late_days
          td = loan_book.calculate_late_return_cost