.container
  .row
    .col-12
      .float-left
        h2 Late Returns - #{@borrower.name}
      .float-right
  hr

  = form_for "", url: late_return_path(@borrower.id), method: :patch do |f|  
    table.table
      thead
        tr
          th 
          th Book
          th Loan Date
          th Return Date
          th Due Date
          th Late Days
          th Penalty
      tbody
        - @results.each do |loan_book|
          tr
            td = check_box_tag("loan_book_ids[]", loan_book.id, checked = false, class: "check-loan-book", data: { value: "#{loan_book.calculate_late_return_cost}" })
            td = loan_book.book.name
            td = loan_book.loan_date
            td = loan_book.return_date
            td = loan_book.due_date
            td = loan_book.calculate_late_days
            td 
              .float-right
                = loan_book.calculate_late_return_cost
      tfoot
        tr
          td colspan=6 
            .float-right
              p Total Payment
          td
            p.float-right#total_payment 0.00

    .form-action.row
      .col-12
        .float-left
          = f.submit "Pay", class: "btn btn-primary"
        .float-right
          = link_to "Back", late_returns_path, class: "btn btn-secondary"