tr id="book-id-#{book&.id}"
  td = l(loan_book.loan_date.to_date, format: :default) rescue "-"
  td = loan_book.borrower&.name
  td 
    = book.name 

    = hidden_field :id, "", name: "return[loan_books_attributes][#{loan_book.id}][id]", class: 'form-control', value: loan_book.id  
    = hidden_field :loan, "", name: "return[loan_books_attributes][#{loan_book.id}][book_id]", class: 'form-control', value: book.id  
  td = l(loan_book.due_date.to_date, format: :default) rescue "-"
  td 
    = late_day = (Time.zone.today - loan_book.due_date).to_i
    = hidden_field :loan, "", name: "return[loan_books_attributes][#{loan_book.id}][late_day]", class: 'form-control', value: late_day
  td 
    = link_to "Remove", "#", class: "btn btn-danger btn-sm remove-tr"

