= form_for [@book] do |f|
  .form-group
    = f.label :code, "Code"
    = f.text_field :code, class: "form-control", placeholder: "Book Code"

  .form-group
    = f.label :name, "Name"
    = f.text_field :name, class: "form-control", placeholder: "Book Title"

  .form-group
    = f.label :price, "Price"
    = f.number_field :price, class: "form-control", placeholder: "Price", step: "any"

  .form-group
    = f.label :rack, "Rack"
    = f.text_field :rack, class: "form-control", placeholder: "Rack"

  .form-group
    = f.label :genre, "Genre"
    = f.text_field :genre, class: "form-control", placeholder: "Genre"

  .form-group
    = f.label :year, "Year"
    = f.number_field :year, class: "form-control", placeholder: "Year Eg: 2019"

  .form-group
    = f.label :language, "Language"
    = f.text_field :language, class: "form-control", placeholder: "Language Eg: BI"

  .form-group
    = f.label :author, "Author"
    = f.text_field :author, class: "form-control", placeholder: "Author"

  .form-group
    = f.label :barcode, "Barcode"
    = f.text_field :barcode, class: "form-control", placeholder: "Barcode"

  .form-group
    = f.label :description, "Description"
    = f.text_area :description, class: "form-control", placeholder: "Description"

  .form-action.row
    .col-12
      .float-left
        = f.submit "Submit", class: "btn btn-primary"
      .float-right
        = link_to "Back", books_path, class: "btn btn-secondary"