.container
  .row
    .col-12
      .float-left
        h2 Books
      .float-right
        .row
          .dropdown
            button#exportMenuButton.btn.btn-secondary.dropdown-toggle.mr-3.float-left aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" type="button"
              | Export
            .dropdown-menu aria-labelledby="exportMenuButton" 
              = link_to "Book Barcode (PDF)", books_path(format: :pdf, size: "3670"), target: "_blank", class: "dropdown-item"
              = link_to "Books (xlsx)", books_path(format: :xlsx), target: "_blank", class: "dropdown-item"

          button.btn.btn-primary.float-left.mr-3 data-target="#importModal" data-toggle="modal" type="button" Import (.xlsx)

          = link_to "Add New Book", new_book_path, class: "btn btn-success float-left"
  hr

  table.table.ajax-datatable data-source="#{books_path(format: :json)}"
    thead
      tr
        th #
        th Code
        th Name
        th Year
        th Author
        th Barcode
        th Action

#importModal.modal.fade aria-hidden="true" aria-labelledby="importModal" role="dialog" tabindex="-1" 
  .modal-dialog role="document" 
    .modal-content
      .modal-header
        h5#exampleModalLabel.modal-title Import Books (.xlsx)
        button.close aria-label="Close" data-dismiss="modal" type="button" 
          span aria-hidden="true"  &times;
      = form_for "", url: import_books_path, method: :post do |f|
        .modal-body
          = f.file_field "file", required: true, accept: ".xlsx"
        .modal-footer
          = link_to "Download File", root_url+'xlsx/books.xlsx', class: "btn btn-danger mr-auto"        
            
          button.btn.btn-secondary data-dismiss="modal" type="button"  Close
          = f.submit "Import", class: "btn btn-success"
