<!DOCTYPE html>
<html>
  <head>
    <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
  </head>
  <body>
    <div class="barcode-container">
      <% @books.each do |book| %>
        <div class="barcode-box width-<%= params[:size] %>">
          <div class="barcode">
            <%= image_tag Barby::Code128.new(book.barcode).to_image.to_data_url %>  
          </div>
          <div class="label">
            <%= book.barcode %><br/>
          </div>
        </div>
      <% end %>    
    </div>
  </body>
</html>