.container
  .row
    .col-12
      .float-left
        h2 Top Rank By Class
  hr
  .row
    .col-6
      = form_for "", url: by_class_reports_loans_path, method: :get do |f|
        .form-group
          = f.label :year, "Year"
          = f.select :year, options_for_select((2019..Time.zone.now.year).sort.reverse.to_a, params[:year]), { include_blank: "Please select a year" }, class: "form-control", required: true

        .form-group
          = f.label :month, "Month"
          = f.select :month, options_for_select((1..12).sort.reverse.collect{|x| ["#{x} - #{"1-#{x}-2019".to_date.strftime("%b")}", x] }, params[:month]), { include_blank: "Please select a year" }, class: "form-control", required: true
        
        .form-group
          = f.label :class, "Class"
          = f.select :class, options_for_select(school_class, params[:class]), { include_blank: "Please select a class" }, class: "form-control", required: true

        .form-action.row
          .col-12
            .float-left
              = f.submit "Generate", class: "btn btn-primary"


  - if @result.present?
    br
    .row
      .col-12
        .float-right

          = link_to "Download Excel", by_class_reports_loans_path(year: params[:year], month: params[:month], class: params[:class], format: :xlsx), class: "btn btn-success"
    br
    table.table
      thead
        th Rank
        th Name
        - @languages.each do |language|
          - language = "N/A" if language == ""
          th = language
        th Total
      tbody
        - i = 0
        - @result.each do |borrower, result|
          tr 
            td = i += 1
            td = result.first.borrower.name
            - @languages.each do |language|
              - language = nil if language == ""
              td = @result_books[[borrower, language]]&.count

            td = result.first.quantity
            