.container
  .row
    .col-12
      .float-left
        h2 Download Loan Detail
  hr
  .row
    .col-6
      = form_for "", url: detail_reports_loans_path(format: :xlsx), method: :post do |f|
        .form-group
          = f.label :year, "Year"
          = f.select :year, options_for_select((2019..Time.zone.now.year).sort.reverse.to_a, params[:year]), { include_blank: "Please select a year" }, class: "form-control", required: true

        .form-group
          = f.label :month, "Month"
          = f.select :month, options_for_select((1..12).sort.reverse.collect{|x| ["#{x} - #{"1-#{x}-2019".to_date.strftime("%b")}", x] }, params[:month]), { include_blank: "Please select a month" }, class: "form-control", required: true

        .form-group
          = f.label :school_class, "Class"
          = f.select :school_class, options_for_select(school_class), { include_blank: "Please select a class" }, class: "form-control", required: true
        
        .form-action.row
          .col-12
            .float-left
              = f.submit "Download", class: "btn btn-primary", data: { disable_with: false }
