.container
  .row
    .col-12
      .float-left
        h2 Top Rank By Student
  hr
  .row
    .col-6
      = form_for "", url: top_rank_reports_loans_path, method: :get do |f|
        .form-group
          = f.label :year, "Year"
          = f.select :year, options_for_select((2019..Time.zone.now.year).sort.reverse.to_a, params[:year]), { include_blank: "Please select a year" }, class: "form-control", required: true

        .form-group
          = f.label :month, "Month"
          = f.select :month, options_for_select((1..12).sort.reverse.collect{|x| ["#{x} - #{"1-#{x}-2019".to_date.strftime("%b")}", x] }, params[:month]), { include_blank: "Please select a year" }, class: "form-control", required: true

        .form-action.row
          .col-12
            .float-left
              = f.submit "Generate", class: "btn btn-primary"

  - if params[:year].present? && params[:month].present?
    br
    table.table
      thead
        th Rank
        th Borrower
        th Year
        th Class
        th Quantity
      tbody
        - i = 0
        - @loan_rank.sort_by{|k, v| v}.reverse.first(20).each do |borrower_id, quantity|
          - borrower = Borrower.find(borrower_id)
          tr 
            td = i += 1
            td = borrower.name
            td = borrower.year
            td = borrower.school_class
            td = quantity
    
