$(".barcode-input").val("")

<% if @book.present? %>
  <% if @loan_book.present? %>
    if ($("#book-id-<%= @book.id %>").size() == 0) {
      $(".add-book-table").find("tbody").append("<%= j render partial: 'returns/partials/add_book', locals: { book: @book, loan_book: @loan_book } %>")
    } else {
      alert("Book already added!")
    }
  <% else %>
    alert("No loan record for this book!")
  <% end %>  
<% else %>
  alert("Book not found! Please scan again.")
<% end %>
