.container
  .row
    .col-12
      .float-left
        h2 Returns
      .float-right
        = link_to "Add Return", new_return_path, class: "btn btn-success"
  hr

  table.table.ajax-datatable data-source="#{returns_path(format: :json)}"
    thead
      tr
        th #
        th Borrower
        th Return Date
        th Action