.container
  .row
    .col-12
      .float-left
        h2 New Return
  hr
  .row
    .col-12
      = form_for "", url: add_book_returns_path, remote: true, method: :post do |f|        
        .d-flex.justify-content-center
          .form-group.col-8.mb-5
            = f.label :barcode, "Scann Barcode Here", class: "text-center"
            = text_field "", "barcode", class: "form-control barcode-input", placeholder: "Scann Barcode Here"
    .col-12
      = form_for @return do |f|    
        .row   
          .col-4
            .form-group
              = f.label :borrower_id, "Borrower"
              = f.select :borrower_id, options_for_select([], @return.borrower_id), {}, class: "form-control ajax-select2", data: { url: ajax_select2_borrowers_url(format: :json) }, required: true

            .form-group
              = f.label :return_date, "Loan Date"
              = f.text_field :return_date, class: "form-control", readonly: true, value: l(@return.return_date.to_date, format: :default)
            
            .form-group
              = f.label :remark, "Remark"
              = f.text_area :remark, class: "form-control", placeholder: "Remark"
        
          .col-8          
            .col-12.mb-5
              table.table.table-sm.add-book-table
                thead
                  tr
                    th Borrow Date
                    th Borrower
                    th Books
                    th Due Date
                    th Late Day
                    th Actions
                tbody
                  = f.fields_for :loan_books do |f2|
                    = render partial: "returns/partials/add_book", locals: { book: f2.object&.book, loan_book: f2.object }


            = f.submit "Confirm", class: "btn btn-success float-right"