.container
  .row
    .col-12
      .float-left
        h2 Return
  hr
  .row
    .col-12
      = form_for @return do |f|    
        .row   
          .col-4
            .form-group
              strong Borrower
              br/
              = @return.borrower.name

            .form-group
              strong Return Date
              br/
              = l(@return.return_date.to_date, format: :default) rescue "-"
            
            .form-group
              strong Remark
              br/
              = @return.remark
          
          .col-8          
            .col-12.mb-5
              table.table.table-sm.add-book-table
                thead
                  tr
                    th Books
                    th Loan Date
                    th Due Date
                    th Return Date
                    th Late Day
                tbody
                  - @return.loan_books.each do |loan_book|
                    tr 
                      td = loan_book&.book&.name                      
                      td = l(loan_book.loan_date.to_date, format: :default) rescue "-"
                      td = l(loan_book.due_date.to_date, format: :default) rescue "-"
                      td = l(loan_book.return_date.to_date, format: :default) rescue "-"
                      td = loan_book.display_late_day



