.container
  .row
    .col-12
      .float-left
        h2 Loans
      .float-right
        = link_to "Add Loan", new_loan_path, class: "btn btn-success"
  hr

  table.table.ajax-datatable data-source="#{loans_path(format: :json)}"
    thead
      tr
        th #
        th Borrower
        th Loan Date
        th Due Date
        th Action