.container
  .row
    .col-12
      .float-left
        h2 New Loan
  hr
  .row
    .col-12
      = form_for "", url: add_book_loans_path, remote: true, method: :post do |f|        
        .d-flex.justify-content-center
          .form-group.col-8.mb-5
            = f.label :barcode, "Scann Barcode Here", class: "text-center"
            = text_field "", "barcode", class: "form-control barcode-input", placeholder: "Scann Barcode Here"
    .col-12
      = form_for @loan do |f|    
        .row   
          .col-4
            .form-group
              = f.label :borrower_id, "Borrower"
              = f.select :borrower_id, options_for_select([], @loan.borrower_id), {}, class: "form-control ajax-select2", data: { url: ajax_select2_borrowers_url(format: :json) }, required: true

            .form-group
              = f.label :loan_date, "Loan Date"
              = f.text_field :loan_date, class: "form-control", readonly: true, value: l(@loan.loan_date.to_date, format: :default)
            
            .form-group
              = f.label :day, "Day"
              = f.text_field :day, class: "form-control", readonly: true

            .form-group
              = f.label :due_date, "Due Date"
              = f.text_field :due_date, class: "form-control", readonly: true, value: l(@loan.due_date.to_date, format: :default)

            .form-group
              = f.label :remark, "Remark"
              = f.text_area :remark, class: "form-control", placeholder: "Remark"
          
          .col-8          
            .col-12.mb-5
              table.table.table-sm.add-book-table
                thead
                  tr
                    th.col-10 Books
                    th.col-2 Actions
                tbody
                  = f.fields_for :loan_books do |f2|
                    = render partial: "loans/partials/add_book", locals: { book: f2.object&.book }


            = f.submit "Confirm", class: "btn btn-success float-right"
