.container
  .row
    .col-12
      .float-left
        h2 Loan
  hr
  .row
    .col-12
      = form_for @loan do |f|    
        .row   
          .col-4
            .form-group
              strong Borrower
              br/
              = @loan.borrower.name

            .form-group
              strong Loan Date
              br/
              = l(@loan.loan_date.to_date, format: :default) rescue "-"

            .form-group
              strong Days
              br/
              = @loan.day
            
            .form-group
              strong Due Date
              br/
              = l(@loan.due_date.to_date, format: :default) rescue "-"

            .form-group
              strong Remark
              br/
              = @loan.remark
          
          .col-8          
            .col-12.mb-5
              table.table.table-sm.add-book-table
                thead
                  tr
                    th Books
                    th Loan Date
                    th Due Date
                    th Remaining Days
                tbody
                  - @loan.loan_books.each do |loan_book|
                    tr 
                      td = loan_book&.book&.name
                      td = l(loan_book.loan_date.to_date, format: :default) rescue "-"
                      td = l(loan_book.due_date.to_date, format: :default) rescue "-"
                      td = (loan_book.due_date - Time.zone.today).to_i rescue "-"




