.container
  .row.mt-3
    .col-sm-6.offset-sm-3
      h2
        | Login
      hr
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .form-group
          = f.label :email
          = f.email_field :email, autofocus: true, autocomplete: "Email", class: "form-control", placeholder: "Email"
        .form-group
          = f.label :password
          = f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password"
        = f.submit "Log in", class: "btn btn-primary btn-block"

