.barcode-container{   

  .width-3670 {
    width: 84mm; // 70 * 1.2
    height: 43mm; // 35 * 1.2   
  }

  .barcode-box {
    display: inline-block;
    text-align: center;
    border-top: solid 1px grey;
    border-bottom: solid 1px grey;
    
    .barcode {
      padding-top: 3mm;
    }

    .label {
      font-size: 18px;
    }
  }
}
  