nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  .container
    button.navbar-toggler aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label=("Toggle navigation") data-target="#navbarTogglerDemo01" data-toggle="collapse" type="button" 
      span.navbar-toggler-icon
    #navbarTogglerDemo01.collapse.navbar-collapse
      = link_to root_path, class: "navbar-brand" do 
        = school_name
      ul.navbar-nav.mr-auto.mt-2.mt-lg-0
        - if user_signed_in?
          li.nav-item.dropdown class="#{'active' if params[:controller].include? 'users' }"
            a#navbarDropdown.nav-link.dropdown-toggle aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#" role="button"  Users
            .dropdown-menu.dropdown-menu-right aria-labelledby="navbarDropdown"
              = link_to "Students", users_students_path, class: "dropdown-item"
              = link_to "Teachers", users_teachers_path, class: "dropdown-item"                        
              = link_to "Admins", users_admins_path, class: "dropdown-item"

          li.nav-item
            = link_to "Books", books_path, class: "nav-link #{'active' if params[:controller] == 'books' }"

          li.nav-item.dropdown class="#{'active' if ['loans', 'returns', 'write_offs', 'late_returns'].include? params[:controller] }"
            a#navbarDropdown.nav-link.dropdown-toggle aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#" role="button"  Tansactions
            .dropdown-menu.dropdown-menu-right aria-labelledby="navbarDropdown"
              = link_to "Loans", loans_path, class: "dropdown-item"
              = link_to "Returns", returns_path, class: "dropdown-item"   
              = link_to "Write Offs", write_offs_path, class: "dropdown-item"   
              = link_to "Late Returns", late_returns_path, class: "dropdown-item"

          li.nav-item.dropdown class="#{'active' if ['reports/loans'].include? params[:controller] }"
            a#navbarDropdown.nav-link.dropdown-toggle aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#" role="button"  Reports
            .dropdown-menu.dropdown-menu-right aria-labelledby="navbarDropdown"
              = link_to "Top Loan Rank (By Student)", top_rank_reports_loans_path, class: "dropdown-item"
              = link_to "Loan by Year", by_year_reports_loans_path, class: "dropdown-item"
              = link_to "Loan by Class", by_class_reports_loans_path, class: "dropdown-item"
              = link_to "By Detail", detail_reports_loans_path, class: "dropdown-item"
              
      ul.navbar-nav.ml-auto.mt-2.mt-lg-0      
        - if user_signed_in?
          li.nav-item.dropdown
            a#navbarDropdown.nav-link.dropdown-toggle aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#" role="button"
              | Settings
            .dropdown-menu.dropdown-menu-right aria-labelledby="navbarDropdown"              
              = link_to "Penalty", settings_penalty_costs_path, class: "dropdown-item"
              = link_to "Backup", settings_backups_path, method: :post, class: "dropdown-item"
              = link_to "Logout", destroy_user_session_path, class: "dropdown-item", method: "delete"
        
