doctype html
html
  head
    title
      = school_name
    = csrf_meta_tags
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"
  body
    .content-container
      = render "layouts/header"
      = render "layouts/flash_messages"
      .mb-2
      = yield

    = render "layouts/footer"